/* GLOBALS */
*{
    margin: 0;
    padding: 0;
}

:root {
    --DarkCyan: hsl(185, 75%, 39%);
    --DarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);
    --DarkGray: hsl(0, 0%, 59%);
}


html, body {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--DarkCyan);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    position: relative;
}

/* GENERALS */
h3 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--DarkDesaturatedBlue);
}
p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--DarkGrayishBlue);
}

/* GRID */
.left {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('/images/bg-pattern-top.svg');
    background-position: -300px -400px;
    background-repeat: no-repeat;
    background-size: auto;
}
.right {
    z-index: 1;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('/images/bg-pattern-bottom.svg');
    background-position: 0px 400px;
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* CARD */

.card {
    height: 475px;
    width: 425px;
    display: grid;
    grid-template-rows: 0.4fr 0.6fr;
    border-radius: 15px;
    box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.256);
}

.card-header {
    background-image: url("../images/bg-pattern-card.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

.card-body {
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: grid;
    grid-template-rows: 0.2fr 0.4fr 0.4fr;
}

.profile-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-photo img {
    position: absolute;
    top: -65px;
    width: 120px;
    height: 120px;
    border: 0.4rem solid white;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.profile-info .age {
    margin-left: 0.5rem;
    color: var(--DarkGrayishBlue);
    font-weight: 400;
}

.profile-stats {
    border-top: 2px solid #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile-stats > div {
    text-align: center;
}

.profile-stats > div > p {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}


/* MOBILE VERSION */

@media (max-width: 480px) {
    .left {
        /*                 izquierda arriba     */
        background-position: -780px  -580px;
    }
    .right {
        background-position: 0px 300px;
    }
}

@media (max-width: 767px) {
    body {
        align-items: center;
    }
    .container {
        width: 80vw;
    }

    .card {
        width: 100%;
    }
}